.but{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
}
.kwtag{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    margin: 10px;
}
